<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        Event Traveler: Profile
    </title>
    <link rel="stylesheet" href="/css/userProfile.css">
    <link rel="shortcut icon" type="image/jpg" href="/uploads/savedTripsPageIcons/favicon.png" />
    <link rel="stylesheet" href="/css/clickSort.css">
    <link rel="stylesheet" href="/css/navBarStyle.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
</head>

<body style="background-color: #d9dddd;">
    <nav>
        <ul id="horizontal-bar">
            <li> <img src="/uploads/savedTripsPageIcons/Logo.png" width="40px" height="40px"></li>
            <li> <a class="active" href="home">Profile</a></li>

            <li> <a href="search-trips">Search Trips</a></li>

            <li><a href="search">Search Friends</a></li>

            <li><a href="logout">Log out</a></li>
        </ul>
    </nav>
<form  action="/FriendsFeed" method="post" enctype="multipart/form-data">
    <p>
        <%=data[0].username%> liked <%=trip[0].trip_name%>
    </p>
</form>


    </body>
</html>