html {
    height: 100%
}

body {
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    padding-top: 10px;
    padding-bottom: 40px;
    height: auto;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-items: center;
    display: grid;
    align-items: center;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 50px;
}

h2 {
    margin-top: 20px;
    font-size: 60px;
    font-family: inherit;
}

#registration-form {
    color: #c4c7cc;
    display: grid;
    justify-items: center;
}

.registration-form-field::placeholder {
    color: #3a3a3a;
    font-size: 10pt;
}

#main-holder {
    padding-top: 20px;
    align-items: center;
}

.registration-form-field {
    justify-items: center;
    border: none;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 3px;
    outline: none;
    padding: 5px 5px 5px 5px 5px;
}

#registration-form-submit {
    width: 130%;
    padding: 9px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

#registration-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#registration-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

ol,
ul {
    margin-top: -10px;
    height: 40px;
    list-style: none;
    overflow: hidden;
    background-color: #333;
}

.sidebar {
    height: 55px;
    width: 100%;
    font-family: sans-serif;
}

.sidebar li {
    display: inline;
    width: 120px;
    float: left;
    margin-left: 20px;
    border-radius: 2px;
    align-items: center;
    text-align: center;
}


/* Sidebar links */

.sidebar a {
    display: inline;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}


/* Active/current link */

.sidebar a.active {
    background-color: green;
    height: 50px;
}


/* Links on mouse-over */

.sidebar a:hover:not(.active) {
    background-color: #111;
    color: #fff;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}